.register-page {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  .header {

    .logo {
      width: 48px;
      height: 48px;
      line-height: 48px;
      vertical-align: middle;
      margin-right: 8px;
      background-image: url('/logo.png');
      background-size: cover;
      display: inline-block;
    }

    .title {
      height: 48px;
      line-height: 48px;
      vertical-align: middle;
      font-weight: 600px;
      font-size: 32px;
      display: inline-block;
    }
  }

  .form {

    .kv {
      display: flex;
      margin: 16px 0;

      .label {
        color: grey;
        width: 100px;
        margin-right: 8px;
        line-height: 32px;
        height: 32px;
        vertical-align: middle;
      }

      .ant-input {
        width: 400px;
      }
    }

    .operation {
      padding: 0 16px;
      text-align: center;

      .ant-btn {
        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }
}