.authorized-api-list {

  .toolbar {
    line-height: 56px;
    height: 56px;
    display: flex;

    .table-filter {
      display: flex;
      flex-grow: 1;

      .label-name {
        line-height: 56px;
        height: 56px;
        vertical-align: middle;
        color: grey;
        margin-right: 8px;
        flex-grow: 0;
      }

      .search-api-name-input {
        display: flex;
        margin-left: 12px;

        .label-name {
          width: 100px;
        }

        .ant-input {
          margin: 12px 0;
        }
      }
    }

    .table-operator {
      flex-grow: 0;
      justify-content: end;
      width: 100px;
      text-align: right;

      .anticon {
        cursor: pointer;
        font-size: 16px;
      }
    }
  }

  .ant-table {
    margin-bottom: 12px;

    .operator-btn {
      display: flex;

      .ant-btn {
        margin-right: 8px;
      }
    }
  }
}