.api-details {
  overflow: auto;
  width: 100%;
  height: 100%;

  .kv {
    display: flex;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;

    .label {
      min-width: 180px;
      margin-right: 8px;
      color: grey;
    }

    .value {
      &.no-new-line {
        white-space: nowrap;
        word-break: keep-all;
      }
    }
  }

}